<h1>{{title}}</h1>


<form name="discoverForm" ng-submit="discoverForm.$valid && addDiscovery()" novalidate>

    <div class="row">
        <div class="col-xs-12">

            <input ng-model="discovery.name" type="text" class="form-control input-lg discoveryInput" name="name" id="name" placeholder="What is the name of your discovery?" title="name" required />
            <span class="fadein validation" ng-show="discoverForm.name.$dirty && discoverForm.name.$invalid">Don't forget the name!</span>


        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">

            <select ng-model="discovery.objectType" class="form-control input-lg discoveryInput" name="objectType" id="objectType" ng-options="object for object in objects" title="objectType" required>
        	   <option value="" disabled selected>Select what type of discovery you have found.</option>
            </select>
            <span class="fadein validation" ng-show="discoverForm.objectType.$dirty && discoverForm.objectType.$invalid">What kind of discovery are you making?</span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <textarea ng-model="discovery.description" class="form-control input-lg discoveryInput" placeholder="What does your discovery look/feel/smell like? Are there any other observations or knowledge you can share about it?" title="description" name="description" id="description" required></textarea>
            <span class="fadein validation" ng-show="discoverForm.description.$dirty && discoverForm.description.$invalid">Make some observations about your discovery!</span>
        </div>
    </div>
        
    <div class="row">
        <div class="col-xs-12">

            <input type="submit" ng-disabled="discoverForm.$invalid" class="btn btn-primary pull-right" value="Upload Picture and Submit" />
            
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h4 class="fadein successMessage" ng-show="showMessageSuccess" id="didItWork">{{success}}</h4>
            <h4 class="fadein errorMessage" ng-show="showMessageError" id="didItWork">{{error}}</h4>
        </div>
    </div>
</form>
    
<div class="row">
	<div class="col-xs-12">

		<div id="map"></div>

	</div>
</div>

<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>  
              
<script type="text/javascript"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoY3tyaLpbkWArJ-UIWM2h33Q_KNO0N-U&callback=initMap"
    async defer></script>\
