<h1>{{title}}</h1>

<form name="discoverForm" ng-submit="discoverForm.$valid && addDiscovery()" novalidate>

	<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>  
              
    <script type="text/javascript">  

    </script>

    <input ng-model="discovery.name" type="text" class="form-control" id="name" placeholder="What is the name of your discovery?" title="name" required />

    <select ng-model="discovery.objectType" class="form-control" id="objectType" ng-options="object for object in objects" title="objectType" required>
    	<option value="" disabled selected>Select what type of discovery you have found.</option>
    </select>

    <textarea ng-model="discovery.description" class="form-control" placeholder="What does your discovery look/feel/smell like? Are there any other observations or knowledge you can share about it?" title="description" id="description" required></textarea>

    <!--location found by gps TODO-->

    <div>Discovery is {{discoverForm.$valid}}</div>
    <input type="submit" class="btn btn-primary pull-right" value="Discover It!" />
    <h4>{{didItWork}}</h4>
</form>

<div class="row">
	<div class="col-md-12">

		<div id="map"></div>

	</div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=APIKEY&callback=initMap"
    async defer></script>\

<!-- <script src={{mapKey}}
    async defer></script> -->