<h1 class="title">{{title}}</h1>


<div class="row">
    <div class="col-xs-12">
        <input ng-model="searchName" type="text" id="searchDiscoveries" class="form-control input-lg" placeholder="What name would you like to search?" />
    </div>
</div>

<div class="row">
    <div ng-repeat="discovery in discoveries | filter:searchName"> 
    	<div class="col-md-2 col-sm-3 col-xm-4 imgList">
    		<a ng-click="discoveryModal('lg', discovery)"><img ng-src={{discovery.image}} style="height: 150px; width: 100%"/></a>
    	</div>
    	
    	<script type="text/ng-template" id="findItModal.html">
        
            <div class="modal-header">
                                 
                <h1 class="modal-title pull-left" id="modal-title">{{discoveryData.name}}</h1>
                <p class="modal-title pull-right">Discovered by: {{discoveryData.discoveredBy}}</p>
                <br>
                <p class="pull-right">Discovered on: {{discoveryData.discoveredOn | date}}</p>
                
            </div>
            <div class="modal-body" id="modal-body">
                
                <img class="modalImage" ng-src="{{discoveryData.image}}" style="height: 400px; width: 100%">
                <p class="leftAlign">{{discoveryData.description}}</p> 
            </div>

            <div class="modal-footer">
                
                <div>
                    <h1 ng-model="message" ng-show="showSuccess" class="successMessage fadein">{{successMessage}}</h1>
                    <h1 ng-model="message" ng-show="show" class="errorMessage fadein">{{errorMessage}}</h1>
                </div>
            
                    <p class="pull-left">Confirms: {{discoveryData.confirms}}</p>
                    <button class="btn btn-primary" type="button" ng-click="confirmDiscovery()">Found It!</button>
                    <!-- <button class="btn btn-warning" ng-click="suggestEdit()">Suggest Edit</button> -->
                   
            </div>

    	</script>
    </div>
</div>

<div class="row">
	<div class="col-xs-12">

		<div id="map"></div>

	</div>
</div>

<a href="" data-toggle="modal" data-target="#myModal" id="myModalShower"></a>
 -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoY3tyaLpbkWArJ-UIWM2h33Q_KNO0N-U&callback=initMap"
    async defer></script>

