<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Discover It!</title>
	<script src = "https://plus.google.com/js/client:platform.js" async defer></script>
	<!-- Here we include bootstrap. This will be made available to all of the generated HTML/JS that React generates-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>

 	<!--Navbar stuff-->

	
	<div class="container" ng-app="app">

    	<header ng-include="'views/nav.html'"></header>
		
		<div ui-view></div>

		<footer ng-include="'views/footer.html'"></footer>

	</div>

	<!--Footer Stuff-->

	

	<!-- All of our JS code will be transpiled into this bundle.js file -->
	<script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>

	<script src="scripts/app.js"></script>
	<script src="scripts/controllers/profileCtrl.js"></script>
	<script src="scripts/controllers/discoverCtrl.js"></script>
	<script src="scripts/controllers/findCtrl.js"></script>

</body>
</html>