<h1 class="title">{{user.userName}}</h1>
<div class="row">
	<div class="col-xs-4 col-xs-offset-4">
		<img ng-src={{user.avatar}} id="avatar">
	</div>
</div>

<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<div class="profileStats">
			<h2>{{user.discoveries}}</h2>
			<p>Discoveries</p>
		</div>
	</div>

	<div class="col-xs-6 col-xs-offset-3">
		<div class="profileStats">
			<h2>{{user.confirms}}</h2>
			<p>Your Discovery Confirmations</p>
		</div>
	</div>

	<div class="col-xs-6 col-xs-offset-3">
		<div class="profileStats">
			<h2>{{user.finds}}</h2>
			<p>Discoveries Found</p>
		</div>
	</div>

	<div class="col-xs-6 col-xs-offset-3">
		<div class="profileStats">
			<h2>{{user.points}}</h2>
			<p>Points</p>
		</div>
	</div>
</div>

