/*Throughout Website*/

body {
	text-align: center;
}

/*Navbar*/



/*Footer*/

.socIcon {
	margin: 20px;
	display: inline-block;
}

.social {
	width: 62px;
	height: 62px;
	background-color: white;
}

.social:hover{
	transition: all 1s ease;
	-webkit-transform:scale(1.5); 
    -moz-transform:scale(1.5); 
    -ms-transform:scale(1.5); 
    -o-transform:scale(1.5); 
     transform:scale(1.5);
     z-index: +10;
}

/*Login Page*/

.profile{
    border: 3px solid #B7B7B7;
    padding: 10px;
    margin-top: 10px;
    width: 350px;
    background-color: #F7F7F7;
    height: 160px;
}
.profile p{margin: 0px 0px 10px 0px;}
.head{margin-bottom: 10px;}
.head a{float: right;}
.profile img{width: 100px;float: left;margin: 0px 10px 10px 0px;}
.proDetails{float: left;}

/*Profile Page*/



/*Find It Page*/



/*Discover It Page*/



